body {
    background: black;
}

#Title{
    font-family: Helvetica; 
	font-weight: normal;
	position: relative;
	margin-left: 100px;
	margin-top: 25px;
	color: white;
	font-size: 24px;
}

#Title-2{
	font-family: Helvetica;
	font-weight: bold;
	position: relative;
	top: -20px;
	margin-left: 100px;
	color: white;
	font-size: 24px;
}

#horizontal-line{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-left: 100px;
	position: relative;

}

#category-1{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 36px;
	top: 10px;
	margin-left: 100px;

}

#category-1-text{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;

}

#Extensions{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 18px;
	top: 100px;
	margin-left: 100px;
}

#category-1-text-2{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 18px;
	top: 100px;
	margin-left: 100px;
}


#raspberrypi-img-1{
	height: 500px;
	margin-left: 550px;
	margin-top: -420px;
	
}

#sensor-1{
	height:125px;
	margin-left: 80px;
	margin-top: 180px;
	transform: rotate(270deg);
}

#horizontal-line-2{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 40px;
	margin-left: 100px;
}

#category-2{
    font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 36px;
	top: 10px;
	margin-left: 100px;
}

#Raspeberry-Pi-logo{
	height: 70px;
	margin-left: 100px; 
	margin-top: 25px;

}

#category-2-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;

}

#category-2-text-2{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 18px;
	top: 5px;
	margin-left: 100px;

}

#Arduino-logo{
	height: 50px;
	margin-left: 1250px; 
	margin-top: 90px;
}

#category-2-text-3{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: right;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-right: 100px;
}

#category-2-text-4{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: right;
	position: relative;
	font-size: 18px;
	top: 5px;
	margin-right: 100px;
}

#horizontal-line-3{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 40px;
	margin-left: 100px;
}

#category-3{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 36px;
	top: 10px;
	margin-left: 100px;
}

#category-3-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 15px;
	margin-left: 100px;
}

#category-3-text-2{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 18px;
	top: 20px;
	margin-left: 100px;
}

#category-3-text-3{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 18px;
	top: 27px;
	margin-left: 100px;
}

#category-3-text-4{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 18px;
	top: 40px;
	margin-left: 100px;
}

#category-3-text-5{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 18px;
	top: 45px;
	margin-left: 100px;
}

#Labeling{
	height: 1000px;
	margin-left: 135px;
	margin-top: -335px;
}

#category-4-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;
}

#horizontal-line-4{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 40px;
	margin-left: 100px;
}

#What-you-need{
	height: 490px;
	margin-left: 100px;
	margin-top: 60px;
}

#category-4-text-2{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 18px;
	top: 40px;
	margin-left: 100px;

}

#category-4-text-3{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	float: left;
	font-size: 18px;
	top: 35px;
	margin-left: 100px;
}

#category-4-text-4{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	float: right;
	font-size: 18px;
	top: -5px;
	margin-right: 1000px;
}

#category-4-text-5{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	float: right;
	font-size: 18px;
	top: -10px;
	margin-right: 784px;
}

#horizontal-line-5{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 245px;
	margin-left: 100px;
}

#category-5-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;
}

#category-5-text-2{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 18px;
	top: 10px;
	margin-left: 100px;
}

#SD-card-insert{
	height: 650px;
	margin-left: 500px;
	margin-top: 50px;
}

#category-5-text-3{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: right;
	position: relative;
	font-size: 48px;
	top: -480px;
	margin-right: 100px;
}

#HDMI{
	height: 500px;
	margin-left: 350px;
	margin-top: -220px;
}

#category-5-text-4{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;
}

#Insert-mouse{
	height: 700px;
	margin-left: 250px;
	margin-top: -40px;
}

#category-5-text-5{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: right;
	position: relative;
	font-size: 48px;
	top: -480px;
	margin-right: 100px;
}

#Insert-keyboard{
	height: 770px;
	margin-left: 470px;
	margin-top: -100px;
}

#category-5-text-6{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: -600px;
	margin-left: 100px;
}

#Insert-power{
	height: 600px;
	margin-left: 250px;
	margin-top: -110px;
}

#category-5-text-7{
    font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: right;
	position: relative;
	font-size: 48px;
	top: -90px;
	margin-right: 100px;
}

#Setup{
	height: 710px;
	margin-left: 85px;
	margin-top: -30px;
}

#category-5-text-8{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: -400px;
	margin-left: 100px;
}

#horizontal-line-6{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: -100px;
	margin-left: 100px;
}

#category-6-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;
}

#category-6-text-2{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 18px;
	top: 10px;
	margin-left: 100px;
}

#category-6-text-3{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 18px;
	top: 15px;
	margin-left: 100px;
}

#Software-Install{
	height: 450px;
	margin-top: 125px;
	margin-left: 220px;
	

}

#category-6-text-4{
    font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 18px;
	top: 115px;
	margin-left: 100px;
}

#category-6-text-5{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	position: relative;
	font-size: 18px;
	top: 120px;
	margin-left: 100px;
}

#horizontal-line-7{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 160px;
	margin-left: 100px;

}

#category-7 {

	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 36px;
	top: 10px;
	margin-left: 100px;

}

#category-7-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 15px;
	margin-left: 100px;
}

#wifi{
	height: 50px;
	float: left;
	margin-left: 110px;
	margin-top: 100px;
}

#category-7-text-2{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	float: left;
	font-size: 18px;
	margin-top: 255px;
	margin-left: -90px;
}

#category-7-text-3{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	float: left;
	font-size: 18px;
	margin-top: 305px;
	margin-left: -140px;
}

#Internet{
	height: 75px;
	float: right;
	margin-right: 780px;
	margin-top: 90px;
}

#category-7-text-4{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	float: right;
	font-size: 18px;
	margin-top: 90px;
	margin-right: 670px;
}

#category-7-text-5{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	float: right;
	font-size: 18px;
	top: -100px;
	margin-right: 540px;
}

#Info{
	height: 75px;
	float: right;
	margin-right: -535px;
	margin-top: -200px;
}

#category-7-text-6{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	float: right;
	font-size: 18px;
	margin-top: -35px;
	margin-right: -690px;
}

#category-7-text-7{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	float: right;
	font-size: 18px;
	top: -100px;
	margin-right: -765px;
}

#horizontal-line-8{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 485px;
	margin-left: 100px;
}

#category-8{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 36px;
	top: 10px;
	margin-left: 100px;
}

#category-8-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 15px;
	margin-left: 100px;
}

#category-8-text-2{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	float: left;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 100px;
}

#category-8-text-3{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	font-size: 18px;
	margin-top: 85px;
	margin-left: 100px;

}

#category-8-text-4{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 100px;
}

#category-8-text-5{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 100px;
}

#Thonny{
	height:500px;
	margin-top: -20px;
	margin-left: 850px;
}

#horizontal-line-9{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 40px;
	margin-left: 100px;
}

#category-9{
    font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 36px;
	top: 10px;
	margin-left: 100px;
}

#Python{
	height: 70px;
	margin-left: 70px; 
	margin-top: 25px;
}

#category-9-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;
}

#Arduino-logo-2{
	height: 50px;
	margin-left: 1250px; 
	margin-top: 90px;
}

#category-9-text-2{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: right;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-right: 100px;
}

#horizontal-line-10{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 40px;
	margin-left: 100px;
}

#category-10{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;
}

#category-10-text-1{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 100px;
}

#category-10-text-2{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 100px;
}

#Indentation{
	height:500px;
	margin-top: 75px;
	margin-left: 480px;
}

#category-10-text-3{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	font-size: 18px;
	margin-top: 75px;
	margin-left: 100px;
}

#category-10-text-4{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 100px;
}

#Dynamic-typing{
	height:500px;
	margin-top: 75px;
	margin-left: 200px;
}

#horizontal-line-11{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 40px;
	margin-left: 100px;
}

#category-11{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	position: relative;
	font-size: 36px;
	top: 10px;
	margin-left: 100px;
}

#category-11-text-1{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	text-align: left;
	position: relative;
	font-size: 48px;
	top: 5px;
	margin-left: 100px;
}

#SenseHAT{
	height: 550px;
	margin-top: 30px;
	margin-left: 400px;
}

#horizontal-line-12{
	width: 1225px;
	height: 1px;
	background-color: white;
	margin-top: 50px;
	margin-left: 100px;
}

#Title-3{
    font-family: Helvetica; 
	font-weight: normal;
	margin-left: 100px;
	margin-top: 50px;
	color: white;
	font-size: 24px;
}

#Title-4{
    font-family: Helvetica;
	font-weight: bold;
	margin-top: -20px;
	margin-left: 100px;
	color: white;
	font-size: 24px;
}

#External-links{
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	font-size: 14px;
	margin-top: 75px;
	margin-left: 100px;
}

#External-links-text{
	font-family: Helvetica;
	font-weight: lighter;
	color: #bfbfbf;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 100px;
}

#Signature{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	font-size: 14px;
	margin-top: 80px;
	margin-left: 100px;
}

#year{
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
	font-size: 14px;
	margin-top: -10px;
	margin-left: 100px;
}
